{% extends 'home/base1.html.twig' %}
{% block title %}Connectez-vous
{% endblock %}

{% block body %}
	<div class="container-connexion">
		<button>s'inscrire</button>
		<a href="{{ path('app_comptes_connection') }}" class="btn">Se connecter</a>
	</div>
{% endblock %}
