{% extends 'home/base1.html.twig' %}

{% block title %}Mon Profil – LevelUp
{% endblock %}

{% block body %}
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/profile.css') }}">
	{% endblock %}
	<header class="profil-header">
		<h1>Mon
			<span>Profil</span>
		</h1>
	</header>

	<main
		class="profil-content">

		{# Carte identité #}
		<div class="profil-card">
			<div class="profil-card-header">
				<div class="avatar"></div>
				<div class="infos">
					<h2></h2>
					<p>Membre · Étudiant</p>
				</div>
			</div>

			<div class="section-title">Informations personnelles</div>
			<div class="form-grid">
				<div class="form-group">
					<label>Prénom</label>
					<input type="text" placeholder="Votre prénom">
				</div>
				<div class="form-group">
					<label>Nom</label>
					<input type="text" placeholder="Votre nom">
				</div>
				<div class="form-group full">
					<label>Adresse email</label>
					<input type="email" placeholder="Votre email">
				</div>
			</div>
			<div class="form-footer">
				<button class="btn-gold">Sauvegarder</button>
			</div>
		</div>


		<div class="profil-card">
			<div class="section-title">Mon CV</div>
			<div class="cv-zone">
				<i class="fa-solid fa-file-arrow-up"></i>
				<span>Déposer votre CV ici</span>
				PDF, DOC ou DOCX · Max 5 Mo
			</div>
			<div class="form-footer" style="margin-top: 1rem;">
				<button class="btn-gold">Mettre à jour le CV</button>
			</div>
		</div>

	</main>
{% endblock %}
