{% extends 'home/base1.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
     <section class="sous-titre">
        <div class="st-image">
            <img src="../../images/Sous-titre.png" alt="Stage illustration">
        </div>
        <div class="st-text">
            <h1>LevelUp</h1>
            <p>Trouve le stage de tes rêves en un swipe !</p>
            <a href="{{ path('app_home_swip') }}" class="btn">Commencer à swiper</a>
        </div>
    </section>

     <section class="description">
        <div class="description-img">
            <img src="../../images/Sous-titre1.png" alt="image">
        </div>
        <div class="description-txt">
            <p>Pourquoi chercher quand on peut simplement trouver ? <strong>LevelUp</strong> centralise les meilleures offres de stage dans tous les domaines d'activité.</p>
            <p>Que vous soyez collégien en quête d'observation, étudiant en Master ou en pleine reconversion, parcourez des centaines d'opportunités d'un simple geste. <strong>Swiper, matcher, évoluer</strong> : votre futur professionnel n'est qu'à un clic.</p>
        </div>
    </section>

    <section class="feat">
        <div class="feat">
            <h2>60+</h2>
            <p>Partenaires</p>
        </div>
        <div class="feat">
            <h2>89%</h2>
            <p>Taux de réussite</p>
        </div>
        <div class="feat">
            <h2>200+</h2>
            <p>Stages disponibles</p>
        </div>
    </section>

    <section class="jeu">
    <div class="jeu-text">
        <h2>Gardez l’esprit vif avec nos jeux  <i class="fa-solid fa-brain" style="color: rgba(198, 167, 94, 1.00);"></i></h2>
        <p>Faites une pause et reprenez contact avec votre réseau grâce à des jeux quotidiens rapides.</p>
    </div>
    <div class="jeu-list">
        <div class="jeu-icone">Mini Sudoku
            <img src="#" alt"Sudoku">
            <i class="fa-solid fa-spinner" style="color: rgb(12, 28, 44);"></i>
        </div>
        <div class="jeu-icone">Flappy Stage
            <img src="#" alt"Flappy Stage">
            <i class="fa-solid fa-spinner" style="color: rgb(12, 28, 44);"></i>
        </div>
        <div class="jeu-icone">Stager
            <img src="../../images/Stager.png" alt"Stager">
        </div>
    </div>
    </section>
{% endblock %}