{% extends 'home/base1.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
    <div class="container-card">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h1 class="card-title">Stage Développeur Web</h1>
            <p class="card-text">Nous recherchons un(e) stagiaire en développement web motivé(e) et passionné(e) par le digital pour rejoindre notre équipe. Vous participerez à la conception, au développement et à l’optimisation de sites et applications web, en collaboration avec nos développeurs et designers.</p>
            <button type="button" class="btn btn-danger btn-lg" id="dislike"><i class="fa-solid fa-x" style="color: rgba(12, 28, 44, 1.00);"></i></button>
            <button type="button" class="btn btn-success btn-lg" id="like"><i class="fa-solid fa-heart" style="color: rgba(12, 28, 44, 1.00);"></i></button>
        </div>
    </div>
    </div>
{% endblock %}